openapi: 3.0.1
info:
  description: "The ServiceChannel API is a RESTful and stateless API. It accepts\
    \ standard HTTP verbs and supports OAuth 2.0 for authorizing requests.\r\n   \
    \ Our API returns common HTTP status codes as well as JSON encapsulated data.\r\
    \n    See [API Overview](https://developer.servicechannel.com/basics/introduction/overview/)\
    \ for the intro to ServiceChannel API.<br>\r\n    <h3>Authentication and Authorization</h3>You\
    \ should have a ServiceChannel account, register your application, and obtain\
    \ `access_token` to integrate with our API.\r\n    See [Authentication and Authorization](https://developer.servicechannel.com/basics/general/authentication/)\
    \ for more information.\r\n    To use this API playground, click **Authorize**\
    \ and sign in to ServiceChannel.<br>\r\n    <h3>Environment</h3> All calls in\
    \ this API Reference point to the **SB2 environment**.\r\n    See [Environments](https://developer.servicechannel.com/basics/general/environments/)\
    \ for more information.<br>\r\n    <h3>API Version</h3>The current stable version\
    \ of the ServiceChannel API is `v3`. In the request URL, `v3` is a version prefix\
    \ that should be present.\r\n    When you omit the version prefix, calls point\
    \ to the minimum supported version of the API.\r\n    We recommend you to always\
    \ specify the API version to avoid possible errors."
  title: ServiceChannel API - v.3
  version: "3"
servers:
- url: https://sb2api.servicechannel.com/v3/
security:
- oauth2: []
paths:
  /adapter/workorders:
    post:
      deprecated: false
      operationId: POSTv3_adapter_workorders
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrder]"
          text/json:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrder]"
          application/xml:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrder]"
          text/xml:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrder]"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrder]"
        description: "Message envelope containing a body and describes an event type\
          \ and the body version.\r\n            Expects EventType WorkOrderCreated"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.WorkOrderResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.WorkOrderResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.WorkOrderResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.WorkOrderResponse'
          description: Indicates that the request succeeded and that the requested
            information is in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: Bad Request - the request could not be understood or was missing
            required parameters.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: Indicates that a generic error has occurred on the server.
      summary: Create a new work order
      tags:
      - Adapter
      x-access: Any
      x-codegen-request-body-name: message
  /adapter/updateworkorders:
    post:
      deprecated: false
      operationId: POSTv3_adapter_updateworkorders
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrder]"
          text/json:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrder]"
          application/xml:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrder]"
          text/xml:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrder]"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrder]"
        description: "Message envelope containing a body and describes an event type\
          \ and the body version\r\n            <br />Expect the Object of type **ServiceChannel.Notifications.Objects.WorkOrder**\
          \ for the following EventType values:\r\n             • **WorkOrderStatusChanged**.\r\
          \n             • **RefrigerantWasUsedChanged**.\r\n             • **WorkOrderCertifiedTechnicianAssigned**.\r\
          \n             • **WorkOrderAttachmentAdded**.\r\n             • **WorkOrderTradeChanged**.\r\
          \n             • **WorkOrderIssueChoiceChanged**.\r\n             • **WorkOrderNteChanged**.\r\
          \n             • **WorkOrderScheduledDateChanged**.\r\n             • **WorkOrderPriorityChanged**.\r\
          \n             • **WorkOrderCategoryChanged**.\r\n             • **WorkOrderDescriptionChanged**.\r\
          \n             • **WorkOrderAssetAttached**.\r\n             • **WorkOrderAssetDetached**.\r\
          \n             • **WorkOrderAssetValidated**.\r\n             • **WorkOrderRootCauseCodeUpdated**.\r\
          \n             • **WorkOrderResolutionCodeUpdated**.\r\n             • **WorkOrderResolutionCreated**.\r\
          \n             • **WorkOrderResolutionUpdated**.\r\n             • **WorkOrderLabelAdded**.\r\
          \n             • **WorkOrderLabelDeleted**.\r\n             • **WorkOrderNoteAdded**."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.WorkOrderResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.WorkOrderResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.WorkOrderResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.WorkOrderResponse'
          description: Indicates that the request succeeded and that the requested
            information is in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: Bad Request - the request could not be understood or was missing
            required parameters.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: Indicates that a generic error has occurred on the server.
      summary: Update work order
      tags:
      - Adapter
      x-access: Any
      x-codegen-request-body-name: message
  /adapter/checkInOutworkorders:
    post:
      deprecated: false
      operationId: POSTv3_adapter_checkInOutworkorders
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrderCheckInOut]"
          text/json:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrderCheckInOut]"
          application/xml:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrderCheckInOut]"
          text/xml:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrderCheckInOut]"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ServiceChannel.Services.Messaging.NotificationMessage[ServiceChannel.Services.Broker.Models.Contexts.Request.BrokerWorkOrderCheckInOut]"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.WorkOrderResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.WorkOrderResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.WorkOrderResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.WorkOrderResponse'
          description: Indicates that the request succeeded and that the requested
            information is in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: Bad Request - the request could not be understood or was missing
            required parameters.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: Indicates that a generic error has occurred on the server.
      summary: CheckIn/checkOut of work order
      tags:
      - Adapter
      x-access: Any
      x-codegen-request-body-name: message
  /adapter/providerAssignments:
    post:
      deprecated: false
      operationId: POSTv3_adapter_providerAssignments
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.ProviderTradeAssignmentNotificationObject'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.ProviderTradeAssignmentNotificationObject'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.ProviderTradeAssignmentNotificationObject'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.ProviderTradeAssignmentNotificationObject'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Location.ProviderTradeAssignmentNotificationObject'
        required: true
      responses:
        "200":
          content: {}
          description: Indicates that the request succeeded and that the requested
            information is in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: Bad Request - the request could not be understood or was missing
            required parameters.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: Indicates that a generic error has occurred on the server.
      summary: Assign provider
      tags:
      - Adapter
      x-access: Any
      x-codegen-request-body-name: message
  /adapter/updatelocationnotes:
    post:
      deprecated: false
      operationId: POSTv3_adapter_updatelocationnotes
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.LocationNotesNotificationObject'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.LocationNotesNotificationObject'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.LocationNotesNotificationObject'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.LocationNotesNotificationObject'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.LocationNotesNotificationObject'
        required: true
      responses:
        "200":
          content: {}
          description: Indicates that the request succeeded and that the requested
            information is in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: Bad Request - the request could not be understood or was missing
            required parameters.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: Indicates that a generic error has occurred on the server.
      summary: Update location notes
      tags:
      - Adapter
      x-access: Any
      x-codegen-request-body-name: message
  /adapter/UpdateProposalStatus:
    post:
      deprecated: false
      operationId: POSTv3_adapter_UpdateProposalStatus
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.ProposalNotificationObject'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.ProposalNotificationObject'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.ProposalNotificationObject'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.ProposalNotificationObject'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.LocationNote.ProposalNotificationObject'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.ProposalResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.ProposalResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.ProposalResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Broker.Models.Processing.ProposalResponse'
          description: Indicates that the request succeeded and that the requested
            information is in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: Bad Request - the request could not be understood or was missing
            required parameters.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: Indicates that a generic error has occurred on the server.
      summary: Update proposal status
      tags:
      - Adapter
      x-access: Any
      x-codegen-request-body-name: message
  /locations/{locationId}/businesshours:
    get:
      deprecated: false
      description: Returns opening and closing hours from Monday to Sunday for the
        specified location.
      operationId: "GETv3_locations_{locationId}_businesshours"
      parameters:
      - description: Unique identifier of the subscriber’s location you want to retrieve
          business hours for.
        in: path
        name: locationId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.BusinessHoursApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.BusinessHoursApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.BusinessHoursApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.BusinessHoursApiResponse'
          description: Business hours are in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not accepted due to bad syntax, missing parameters,\
            \ insufficient data, etc.\r\n            <br/>Error codes:\r\n       \
            \     601 — Location is not found"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\
            \n            504 — API call rejected by security permissions"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: The server was unable to complete the request due to an internal
            error.
      summary: Retrieve Business Hours
      tags:
      - AfterHours
      x-access: Subscribers
    post:
      deprecated: false
      description: "Modifies the existing business hours for the specified location.\r\
        \n            <br />Send this request [GET /locations/{locationId}/businesshours](https://developer.servicechannel.com/swagger/ui/index?version=3#/AfterHours/GETv3_locations__locationId__businesshours)\
        \ to get the location business hours.\r\n            <br />Learn [how to manage\
        \ business hours](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/683409418/Managing+Business+Hours+and+Holidays+for+a+Location)\
        \ in ServiceChannel University.\r\n            <br />**Example Request**\r\
        \n            \r\n                POST / locations/{locationId}/businesshours\r\
        \n                {\r\n                  \"businessHours\": [\r\n        \
        \            {\r\n                      \"DayOfWeek\": \"Monday\",\r\n   \
        \                   \"OpenTime\": \"10:15 AM\",\r\n                      \"\
        CloseTime\": \"06:00 PM\",\r\n                      \"ClosedAllDay\": false\r\
        \n                    }\r\n                }"
      operationId: "POSTv3_locations_{locationId}_businesshours"
      parameters:
      - description: Unique identifier of the subscriber’s location you want to change
          business hours for.
        in: path
        name: locationId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.UpdateLocationBusinessHoursApiModelRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.UpdateLocationBusinessHoursApiModelRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.UpdateLocationBusinessHoursApiModelRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.UpdateLocationBusinessHoursApiModelRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.UpdateLocationBusinessHoursApiModelRequest'
        description: Request model to update business hours.
        required: true
      responses:
        "200":
          content: {}
          description: Business hours are updated for the specified location.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not accepted due to bad syntax, missing parameters,\
            \ insufficient data, etc.\r\n            <br/>Error codes:\r\n       \
            \     <br/> 613 — Incorrect format of the Open Time or Close Time. Valid\
            \ format: HH:mm or hh:mm tt (for example, 23:59 or 11:59 PM).\r\n    \
            \        <br/> 614 — Business Hours should not overlap between days of\
            \ the week\r\n            <br/> 615 — Incorrect format of the day of the\
            \ week. Valid values: Monday, Tuesday, Wednesday, Thursday, Friday, Saturday,\
            \ Sunday.\r\n            <br/> 616 — Duplicate 'Day of the Week' value;\r\
            \n            <br/> 617 — Business Hours are not set for the location.\
            \ For the initial setup, configure Business Hours for each day of the\
            \ week.\r\n            <br/> 618 — Open Time or Close Time cannot be empty\
            \ for a specific day of the week\r\n            <br/> 628 — Incorrect\
            \ format of the `Close All Day` value. Valid values: true, false."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\
            \n            <br/> 504 — API call rejected by security permissions"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The requested resource does not exist on the server.\r\n \
            \           <br/>Error codes:\r\n            <br/> 601 — Location is not\
            \ found"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: The server was unable to complete the request due to an internal
            error.
      summary: Update business hours
      tags:
      - AfterHours
      x-access: Subscribers
      x-codegen-request-body-name: businessHoursModel
  /locations/{locationId}/holidays:
    delete:
      deprecated: false
      description: Permanently removes a holiday from the specified location.
      operationId: "DELETEv3_locations_{locationId}_holidays?holidayName={holidayName}"
      parameters:
      - description: Unique identifier of the location to delete a holiday from.
        in: path
        name: locationId
        required: true
        schema:
          format: int32
          type: integer
      - description: The name of the holiday you want to remove.
        in: query
        name: holidayName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.HolidayIdsApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.HolidayIdsApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.HolidayIdsApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.HolidayIdsApiResponse'
          description: ID of the deleted holiday is in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not accepted due to bad syntax, missing parameters,\
            \ insufficient data, etc.\r\n            <br/>Error codes:\r\n       \
            \     <br/> 601 — Location is not found\r\n            <br/> 623 — The\
            \ `Holiday Name` value cannot be empty. The maximum length is 100 characters.\r\
            \n            <br/> 629 — The holiday doesn't exist at the location"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\
            \n            <br/> 504 — API call rejected by security permissions"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The requested resource does not exist on the server.\r\n \
            \           <br/>Error codes:\r\n            <br/> 601 — Location is not\
            \ found\r\n            <br/> 601 — Invalid Location Id"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: The server was unable to complete the request due to an internal
            error.
      summary: Delete a holiday
      tags:
      - AfterHours
      x-access: Subscribers
    get:
      deprecated: false
      description: Returns the details of each holiday for the specified location.
      operationId: "GETv3_locations_{locationId}_holidays"
      parameters:
      - description: Unique identifier of the subscriber’s location you want to retrieve
          holidays for.
        in: path
        name: locationId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.HolidaysApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.HolidaysApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.HolidaysApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.HolidaysApiResponse'
          description: Location holidays are in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not accepted due to bad syntax, missing parameters,\
            \ insufficient data, etc.\r\n            <br/>Error codes:\r\n       \
            \     <br/> 601 — Location is not found;"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\
            \n            <br/> 504 — API call rejected by security permissions"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: The server was unable to complete the request due to an internal
            error.
      summary: Retrieve location holidays
      tags:
      - AfterHours
      x-access: Subscribers
    post:
      deprecated: false
      description: "Adds a holiday to the specified location. \r\n            <br\
        \ />Send this request [GET /locations/{locationId}/holidays](https://developer.servicechannel.com/swagger/ui/index?version=3#/AfterHours/GETv3_locations__locationId__holidays)\
        \ to get the location holidays.\r\n            <br />Learn [how to manage\
        \ holidays for a location](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/683409418/Managing+Business+Hours+and+Holidays+for+a+Location)\
        \ in ServiceChannel University.\r\n            <br />**Example Request**\r\
        \n            \r\n                POST /locations/{locationId}/holidays\r\n\
        \                {\r\n                 \"HolidayName\": \"Happy Weekend\"\
        ,\r\n                 \"OpenTime\": \"10:00 AM\",\r\n                 \"CloseTime\"\
        : \"06:00 PM\",\r\n                 \"ClosedAllDay\": false,\r\n         \
        \        \"Frequency\": \"Yearly\",\r\n                 \"StartDate\": \"\
        2021-07-03T00:10:00.308Z\",\r\n                 \"RepeatEvery\": \"1\",\r\n\
        \                 \"RepeatBy\": \"DayOfWeek\",\r\n                 \"RepeatOnDays\"\
        : [\r\n                   \"Saturday\", \"Sunday\"\r\n                 ],\r\
        \n                 \"RepeatOnMonths\": [\r\n                   “June”, \"\
        July\", \"August\"\r\n                 ]\r\n                }"
      operationId: "POSTv3_locations_{locationId}_holidays"
      parameters:
      - description: Unique identifier of the subscriber’s location you want to add
          or update holidays for.
        in: path
        name: locationId
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.AddHolidayApiModelRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.AddHolidayApiModelRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.AddHolidayApiModelRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.AddHolidayApiModelRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.AddHolidayApiModelRequest'
        description: Request to add a holiday to the specified location.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.HolidayIdsApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.HolidayIdsApiResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.HolidayIdsApiResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.AfterHours.HolidayIdsApiResponse'
          description: The holiday is added to the specified location.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not accepted due to bad syntax, missing parameters,\
            \ insufficient data, etc.\r\n            <br/>Error codes:\r\n       \
            \     <br/> 616 — Duplicate 'Day of the Week' value\r\n            <br/>\
            \ 619 — Incorrect format of the `Repeat by status` value. Valid values:\
            \ DayOfWeek, DayOfMonth.\r\n            <br/> 620 — List of days cannot\
            \ be empty when submitting the `Weekly` frequency\r\n            <br/>\
            \ 621 — List of months cannot be empty when submitting the `Yearly` frequency\r\
            \n            <br/> 622 — Incorrect month format. Valid values: January,\
            \ February, March, April, May, June, July, August, September, October,\
            \ November, December.\r\n            <br/> 623 — The `Holiday Name` value\
            \ cannot be empty. The maximum length is 100 characters.\r\n         \
            \   <br/> 624 — Incorrect format of the 'Repeat every' value. The value\
            \ should be a number between 1 and 60.\r\n            <br/> 625 — The\
            \ same month is specified twice in the 'Month' value\r\n            <br/>\
            \ 626 — Incorrect format of the frequency. Valid values: Weekly, Monthly,\
            \ Yearly, Singular.\r\n            <br/> 627 — Start date cannot be an\
            \ empty value\r\n            <br/> 628 — Incorrect format of the `Close\
            \ All Day` value. Valid values: true, false.\r\n            <br/> 3502\
            \ — The holiday name is already in use. Please suggest another name."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\
            \n            <br/> 504 — API call rejected by security permissions;"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The requested resource does not exist on the server.\r\n \
            \           <br/>Error codes:\r\n            <br/> 601 — Location is not\
            \ found"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The server was unable to complete the request due to an internal\
            \ error.\r\n            <br/>Error codes:\r\n            <br/>501 — Object\
            \ reference not set to an instance of an object;"
      summary: Add a holiday
      tags:
      - AfterHours
      x-access: Subscribers
      x-codegen-request-body-name: holidayModel
  /alp/user/{userId}/data:
    get:
      deprecated: false
      description: Returns user data from cache if presents or from db if cache doesn't
        contain user data.
      operationId: "GETv3_alp_user_{userId}_data"
      parameters:
      - description: Numeric id of user.
        in: path
        name: userId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Landing.UserLandingData'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Landing.UserLandingData'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Landing.UserLandingData'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Landing.UserLandingData'
          description: Indicates that the request succeeded and that the requested
            information is in the response.
        "400":
          content: {}
          description: Bad Request - the request could not be understood or was missing
            required parameters.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "Indicates that the requested resource requires authentication.\r\
            \n            <br/>Error codes:\r\n            <br/> 504 - API call rejected\
            \ by security permissions;"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "Indicates that a generic error has occurred on the server.\r\
            \n            <br/>Error codes:\r\n            <br/> 501 - AlpCacheKeyFormat\
            \ is empty or undefined in configuration;"
      summary: User data
      tags:
      - Alp
      x-access: Any
  /alp/subscriber/{subscriberId}/preference:
    post:
      deprecated: false
      operationId: "POSTv3_alp_subscriber_{subscriberId}_preference"
      parameters:
      - in: path
        name: subscriberId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Landing.UpdateSubscriberLandingPreferenceRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Landing.UpdateSubscriberLandingPreferenceRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Landing.UpdateSubscriberLandingPreferenceRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Landing.UpdateSubscriberLandingPreferenceRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Landing.UpdateSubscriberLandingPreferenceRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      tags:
      - Alp
      x-access: Any
      x-codegen-request-body-name: request
  /announcements:
    get:
      deprecated: false
      operationId: GETv3_announcements
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Announcements.GetUserAnnouncementsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Announcements.GetUserAnnouncementsResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Announcements.GetUserAnnouncementsResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Announcements.GetUserAnnouncementsResponse'
          description: Request succeeded and the requested information is in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "Bad Request - the request could not be understood or was missing\
            \ required parameters.\r\n            <br/>Error codes:\r\n          \
            \  <br/> 503 - User info should not be null;\r\n            <br/>ProviderId\
            \ is null;"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "Unauthorized indicates that the requested resource requires\
            \ authentication.\r\n            <br/>Error codes:\r\n            <br/>\
            \ 504 - API call rejected by security permissions;"
      tags:
      - Announcements
      x-access: Providers
  /announcements/{messageId}:
    put:
      deprecated: false
      operationId: "PUTv3_announcements_{messageId}"
      parameters:
      - in: path
        name: messageId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                default: false
                type: boolean
            text/json:
              schema:
                default: false
                type: boolean
            application/xml:
              schema:
                default: false
                type: boolean
            text/xml:
              schema:
                default: false
                type: boolean
          description: Request succeeded and the requested information is in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "Bad Request - the request could not be understood or was missing\
            \ required parameters.\r\n            <br/>Error codes:\r\n          \
            \  <br/> 503 - User info should not be null;\r\n            <br/>ProviderId\
            \ is null;"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "Unauthorized indicates that the requested resource requires\
            \ authentication.\r\n            <br/>Error codes:\r\n            <br/>\
            \ 504 - API call rejected by security permissions;"
      tags:
      - Announcements
      x-access: Providers
  /ApplicationAccess:
    get:
      deprecated: false
      operationId: GETv3_ApplicationAccess
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Returns application access object
      tags:
      - ApplicationAccess
      x-access: Any
  /assets/{assetId}:
    get:
      deprecated: false
      description: "Returns the details of the specified asset for the current subscriber.<br\
        \ />\r\n            Send the [GET/ assets/locations/{locationId}](https://developer.servicechannel.com/swagger/ui/index?version=3#/Assets/GETv3_assets_locations__locationId__trade__trade_)\
        \ request to retrieve assets for a particular location."
      operationId: "GETv3_assets_{assetId}?locationId={locationId}&storeId={storeId}&tagId={tagId}&trackingNumber={trackingNumber}"
      parameters:
      - description: Unique numeric asset identifier you want to get information of.
        in: path
        name: assetId
        required: true
        schema:
          format: int32
          type: integer
      - description: Unique numeric location identifier. Should be paired with the
          `tagId` parameter to work correctly.
        in: query
        name: locationId
        schema:
          format: int32
          type: integer
      - description: Alphanumeric location identifier in the client’s system. Should
          be paired with the `tagId` parameter to work correctly.
        in: query
        name: storeId
        schema:
          type: string
      - description: Alphanumeric asset identifier assigned by the client. Should
          be paired with either `locationId` or `storeId` to work correctly.
        in: query
        name: tagId
        schema:
          type: string
      - description: "Unique ID of the work order. Use the parameter to get asset\
          \ validation attributes: `AssetValidated`, `ValidationRequired`."
        in: query
        name: trackingNumber
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetResponse'
          description: The details of the requested asset are in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not accepted due to bad syntax, missing parameters,\
            \ insufficient data, etc."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\
            \n            504 — API call rejected by security permissions"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request URI is incorrect, or the resource does not exist.\r\
            \n            <br/>Error codes:\r\n            502 — Asset is not found"
      summary: Get an asset
      tags:
      - Assets
      x-access: Any
  /assets/AssociateAssetCode:
    post:
      deprecated: false
      operationId: POSTv3_assets_AssociateAssetCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssociateAssetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssociateAssetRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssociateAssetRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssociateAssetRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssociateAssetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Associate Asset Code
      tags:
      - Assets
      x-access: Any
      x-codegen-request-body-name: request
  /assets/searchassets:
    post:
      deprecated: false
      operationId: POSTv3_assets_searchassets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.SearchAssetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.SearchAssetRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.SearchAssetRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.SearchAssetRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.SearchAssetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Search Assets
      tags:
      - Assets
      x-access: Any
      x-codegen-request-body-name: request
  /assets/assetsforreplacement:
    post:
      deprecated: false
      operationId: POSTv3_assets_assetsforreplacement
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetAssetsForReplacementRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetAssetsForReplacementRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetAssetsForReplacementRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetAssetsForReplacementRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetAssetsForReplacementRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Get Assets For Replacement
      tags:
      - Assets
      x-access: Any
      x-codegen-request-body-name: request
  /assets/assetcomponents:
    post:
      deprecated: false
      description: "Retrieves all circuits and components added to the specified parent\
        \ assets.\r\n            <br />Learn more about [updating assets on work orders](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/1484194012/Updating+Assets+on+Work+Orders)\
        \ in ServiceChannel University."
      operationId: POSTv3_assets_assetcomponents
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssetComponentsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssetComponentsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssetComponentsRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssetComponentsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Equipments.AssetComponentsRequest'
        description: "Request to get circuits and components for the specified parent\
          \ assets.\r\n            <br />Request parameters:\r\n             • **ParentIds**.\
          \ Add one or several asset IDs you want to get circuits and components for.\r\
          \n             • **OnlyRefrigerantTrackingAssets**. Enter `true` to retrieve\
          \ only circuits and components that contain refrigerant and F-gases."
        required: true
      responses:
        "200":
          content: {}
          description: The circuits and components for the specified parent assets
            are in the response.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\
            \n            504 — API call rejected by security permissions"
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The server was unable to complete the request due to an internal\
            \ error.\r\n            <br/>Error codes:\r\n            501 — Object\
            \ reference is not set to an instance of an object"
      summary: Get circuits and components
      tags:
      - Assets
      x-access: Any
      x-codegen-request-body-name: request
  /assets/getfilteredassets:
    post:
      deprecated: false
      operationId: POSTv3_assets_getfilteredassets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Get Filtered Assets
      tags:
      - Assets
      x-access: Any
      x-codegen-request-body-name: request
  /assets/getfilteredassetsV1:
    post:
      deprecated: false
      operationId: "POSTv3_assets_getfilteredassetsV1?providerId={providerId}"
      parameters:
      - description: "The provider identifier. Required for sub-contractor request.\
          \ [Required Special permissions]"
        in: query
        name: providerId
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
        description: The request to perform action with.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Get Filtered Assets V1
      tags:
      - Assets
      x-access: Any
      x-codegen-request-body-name: request
  /assets/getfilteredassetleaks:
    post:
      deprecated: false
      operationId: POSTv3_assets_getfilteredassetleaks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.GetFilteredAssetsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Ge tFiltered Asset Leaks
      tags:
      - Assets
      x-access: Any
      x-codegen-request-body-name: request
  /assets/getwoassettracking:
    post:
      deprecated: false
      operationId: "POSTv3_assets_getwoassettracking?woId={woId}"
      parameters:
      - in: query
        name: woId
        required: true
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: OK
      summary: Get Wo Asset Tracking
      tags:
      - Assets
      x-access: Any
  /assets/locations/{locationId}:
    get:
      deprecated: false
      description: "Returns a list of assets with all details for the specified location.\
        \ Enter the `trade` parameter to make your request more specific.\r\n    \
        \         <br />\r\n             You can use the [GET/assets/{assetId}](https://developer.servicechannel.com/swagger/ui/index?version=3#/Assets/GETv3_assets__assetId__locationId__locationId__storeId__storeId__tagId__tagId__trackingNumber__trackingNumber_)\
        \ method to get the details of a particular asset."
      operationId: "GETv3_assets_locations_{locationId}?trade={trade}"
      parameters:
      - description: Unique numeric identifier of the location you want to retrieve
          assets details of.
        in: path
        name: locationId
        required: true
        schema:
          format: int32
          type: integer
      - description: "Trade of an asset type the asset is assigned to, for example,\
          \ *CARPENTRY* or *PLUMBING*."
        in: query
        name: trade
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsInfoResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsInfoResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsInfoResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsInfoResponse'
          description: The assets for the specified location are in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not accepted due to bad syntax, missing parameters,\
            \ insufficient data, etc."
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\
            \n            504 — API call rejected by security permissions"
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request URI is incorrect, or the resource does not exist."
      summary: Get assets
      tags:
      - Assets
      x-access: Any
  /assets/locationAssetsTree:
    post:
      deprecated: false
      operationId: "POSTv3_assets_locationAssetsTree?locationId={locationId}&trade={trade}"
      parameters:
      - in: query
        name: locationId
        required: true
        schema:
          format: int32
          type: integer
      - in: query
        name: trade
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsResponseTreeNode'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsResponseTreeNode'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsResponseTreeNode'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AssetsResponseTreeNode'
                type: array
          description: Request succeeded and the requested information is in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "Bad Request - the request could not be understood or was missing\
            \ required parameters.\r\n            <br/>Error codes:\r\n          \
            \  503 — User info should not be null;\r\n            SubscriberId is\
            \ null;"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "Unauthorized indicates that the requested resource requires\
            \ authentication.\r\n            <br/>Error codes:\r\n            504\
            \ — API call rejected by security permissions;"
      tags:
      - Assets
      x-access: Any
  /assets/getassetwohistory:
    post:
      deprecated: false
      description: This method allows to get WorkOrder objects by Asset Ids.<br />
      operationId: "POSTv3_assets_getassetwohistory?workOrdersCount={workOrdersCount}"
      parameters:
      - in: query
        name: workOrdersCount
        required: true
        schema:
          format: int32
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              items:
                format: int32
                type: integer
              type: array
          text/json:
            schema:
              items:
                format: int32
                type: integer
              type: array
          application/xml:
            schema:
              items:
                format: int32
                type: integer
              type: array
          text/xml:
            schema:
              items:
                format: int32
                type: integer
              type: array
          application/x-www-form-urlencoded:
            schema:
              items:
                format: int32
                type: integer
              type: array
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Workorders.WorkOrder'
                  type: array
                type: object
            text/json:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Workorders.WorkOrder'
                  type: array
                type: object
            application/xml:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Workorders.WorkOrder'
                  type: array
                type: object
            text/xml:
              schema:
                additionalProperties:
                  items:
                    $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Workorders.WorkOrder'
                  type: array
                type: object
          description: Request succeeded and the requested information is in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "Bad Request - the request could not be understood or was missing\
            \ required parameters.\r\n            <br/>Error codes:\r\n          \
            \  503 — User info should not be null;\r\n            SubscriberId is\
            \ null;"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "Unauthorized indicates that the requested resource requires\
            \ authentication.\r\n            <br/>Error codes:\r\n            504\
            \ — API call rejected by security permissions;"
      summary: Get Assets WorkOrders
      tags:
      - Assets
      x-access: Any
      x-codegen-request-body-name: assetIds
  /assets:
    post:
      deprecated: false
      description: "Creates a new asset for the existing asset type. Since you need\
        \ to specify which type an asset will belong to, you can:\r\n            <br\
        \ /> • use the [GET /AssetTypes](https://developer.servicechannel.com/swagger/ui/index?version=3#/AssetTypes/GETv3_AssetTypes)\
        \ method to get a list of asset types of the current provider.\r\n       \
        \     <br /> • create a new asset type by sending the [POST /AssetTypes](https://developer.servicechannel.com/swagger/ui/index?version=3#/AssetTypes/POSTv3_AssetTypes)\
        \ request.\r\n            <br />You can learn more about [adding and editing\
        \ assets](https://servicechannel.atlassian.net/wiki/spaces/SCU/pages/573178120/Adding+and+Editing+Assets)\
        \ in ServiceChannel University."
      operationId: POSTv3_assets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AddAssetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AddAssetRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AddAssetRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AddAssetRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.AddAssetRequest'
        description: "Request to create a new asset.\r\n            <br />Required\
          \ parameters:\r\n            <br /> • **Tag** (aka **Tag ID**). Create an\
          \ alphanumeric identifier for your asset, for example, AD-3421\r\n     \
          \       <br /> • **Manufacturer**. Enter the brand name that exists in the\
          \ system.\r\n            <br /> • **StoreId**. Specify the alphanumeric\
          \ identifier of the existing location.\r\n            <br /> • **Trade**.\
          \ Define the line of work an asset is used for, for example, *Electrical*,\
          \ *Plumbing*, *Carpentry*.\r\n            <br /> • **Type**. Enter the type\
          \ of an asset, for example, *Refrigerator*, *Computer Monitor*."
        required: true
      responses:
        "201":
          content: {}
          description: The created asset ID is in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not accepted due to bad syntax, missing parameters,\
            \ insufficient data, etc.\r\n            <br/>Error codes:\r\n       \
            \     503 — Unknown Brand name\r\n            503 — Asset Tag ID is empty\r\
            \n            503 — Request is empty or null\r\n            503 — No Store\
            \ ID in the request\r\n            503 — Trade not found \r\n        \
            \    503 — Unknown Equipment type\r\n            503 — Unknown Store ID\r\
            \n            503 — Other Trade in Asset Type"
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not authorized.\r\n            <br/>Error codes:\r\
            \n            504 — API call rejected by security permissions"
      summary: Add an asset
      tags:
      - Assets
      x-access: Any
      x-codegen-request-body-name: assetRequest
    put:
      deprecated: false
      description: Modifies the details of an existing asset.
      operationId: PUTv3_assets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UpdateAssetRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UpdateAssetRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UpdateAssetRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UpdateAssetRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ServiceChannel.Services.Messaging.Assets.UpdateAssetRequest'
        description: "Request model to update an asset.\r\n            <br />The following\
          \ parameters are required in the request:\r\n             • **Id**: Unique\
          \ numeric identification number of an asset you want to update.\r\n    \
          \         • **Tag**: Alphanumeric asset identifier assigned by the client,\
          \ aka **Tag ID**.\r\n             • **Manufacturer**: Company brand that\
          \ produces an asset and exists in the system.\r\n             • **StoreId**:\
          \ Alphanumeric identifier of the existing location.\r\n             • **Trade**:\
          \ The line of work an asset is used for. For example, *ELECTRICAL*, *CARPENTRY*,\
          \ *CCTV*.\r\n             • **Type**: Type of an asset. For example, *Refrigerator*,\
          \ *Computer Monitor*.\r\n            <br />***Note***. The `Tag` and `Location`\
          \ parameters should remain unchanged."
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/json:
              schema:
                $ref: '#/components/schemas/System.Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/System.Object'
          description: The ID of the updated asset is in the response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/ServiceChannel.Services.Messaging.ErrorResponse'
          description: "The request is not accepted due to bad syntax, missing parameters,\
            \ insufficient data, etc.\r\n            <br/>Error codes:\r\n       \
            \     502 — No asset to update\r\n            502 — Asset is not found\r\
            \n            503 — Unknown Brand name\r\n            503 — Request is\
            \ empty or null\r\n            503 — Do not have rights for editing Asset\r\
            \n            503 — Unknown Equipment type\r\n            503 — 'Uses\
            \ Refrigerant' attribute can not be changed\r\n            503 — Asset\
            \ location can not be changed: There are active PM services for this asset."
        "401":
          content:
            application/json:
              schema:
[...]
